/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END OF CSS RESET */

:root{
	box-sizing: border-box;
	--black-transparency: rgba(0,0,0,0.5);
	--white-transparency: rgba(225,225,225,0.1);

}


body {
	display: grid;
	grid-gap: 15px;
	background-image: url("assets/images/niilo-isotalo-371114-unsplash.jpg"),		
		linear-gradient(110deg,rgba(80,192,84),rgba(51,55,90));
	background-size: cover;
	min-height: calc(100vh - 100px);
	background-attachment: fixed;
}

p {
	color: white;
	font-size: 2em;
	padding: 20px 0;
}

nav {
	/* position: fixed;
	top: 0;
	left: 0; */
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fill,150px);
	width: 100%;
	align-items: center;
	font-size: 1.5em;
	padding: 15px 0 0 30px;
}


.navButton {
	display: grid;
	text-decoration: none;
	color: white;
	background-color: var(--white-transparency);
	width: 150px;
	height: 1.5em;
	border-radius: 0.5em;
	align-content: center;
	justify-content: center;
}

.navButton:hover {
	color: black;
	background-color: white;
}


/* MAIN CONTENT */

#mainContent {
	display: grid;
	grid-gap: 20px;
	height: calc(100vh - 90px); /* full screen minus height of navbar */
	overflow: auto;
}

section {
	display: grid;
	/* box-sizing: border-box; */
	color: white;
	margin: 0 20px 0 20px;
	background-color: var(--black-transparency);
	border-radius: 0.5em;
}

/* WELCOME SECTION */

#welcomeContent {
	display: grid;
	height: 100%;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(auto-fit, minmax(1.5em, 1fr));
	align-items: center;
	height: calc(100vh);
	/* margin-top: 20px; */
	
	
}

/* PROJECT SECTION */

#projects {
	grid-template-columns: repeat(auto-fit, 300px);
	grid-auto-rows: 300px;
	justify-content: center;
	grid-gap: 10px;
}

.project-tile {
	display: grid;
	align-content: center;
	justify-content: center;
	background: var(--white-transparency);
	grid-gap: 10px;
	
	
}